body {
  margin: 0;
  font-family: Nanum gothic;
}
/* .top{background: url('../image/main1.jpg') no-repeat center;
    width: 100%; height: 754px; background-size: 100%;} */
.top {
  width: 100%;
  height: 710px;
}
.top header {
  position: relative;
}
.big-header .logo,
.small-header .logo {
  width: 209.5px;
  height: 51px;
  margin: 20.5px 0 0 8%;
  position: absolute;
}
.big-header nav {
  position: absolute;
  right: 125px;
  top: 0;
}
.big-header nav li {
  display: inline-block;
  font-family: Nanum gothic;
  font-weight: bold;
  height: 96px;
  line-height: 96px;
  letter-spacing: 1px;
}
.big-header nav li a {
  padding: 0 23px;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}
.big-header nav li a:hover {
  color: #00c0f3 ;
  transition: color 0.2s ease-in-out;
}
.small-header {
  display: none;
  background-color: white;
  height: 90px;
  width: 100%;
  position: absolute;
}
.small-header .menu-dot {
  float: right;
  padding: 32px 10% 0 0;
}
/* .small-header .menu-dot:hover{background-color: blue;} */

/* 햄버거 메뉴  toggle __ classList.toggle 로 할 경우 */
/* header .small-nav {
  position: absolute;
  width: 100%;
  height: 385px;
  background-color: white;
  z-index: 9;
  top: 50%;
  transition: top 0.5s;
}
header .small-nav.on {
  top: 10px;
} */

/* 햄버거 메뉴 toggle __  slideToggle("fast") 로 할 경우*/
header .small-nav {
  position: absolute;
  width: 100%;
  height: 385px;
  top: 90px;
  background-color: white;
  z-index: 99;
  display: none;
}
  header .small-nav.on {
  display: block;
}

header .small-nav a {
  display: block;
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
  line-height: 55px;
  font-weight: 600;
  color: black;
  letter-spacing: 0.08em;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}



header .small-nav a:last-child {
  border: none;
}
header .small-nav a:before {
  position: absolute;
  right: 100px;
  content: "\279C";
  color: grey;
}


/* .top .main part */


.main {
  position: relative;
  /* width: 92%; */
  height: 530px;
  color: #ffffff;
  padding: 0 0 0 8%;
  top: 180px;
  font-family: "nanum gothic";
}
.main .move {
  display: block;
  position: absolute;
  transform: translateY(-50%);
  width: 61px;
  height: 98px;
  top: 30%;
  color: transparent;
}
.main .move:hover img{
  left: 61px;
  transition: left 0.2s ease-in-out
}

.main a{
  z-index: 99;
}
.main img{
  z-index: unset;
}
.main .move img{
  left: -39px;
  transition: left 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  height: 98px;
}

.main .prev {
  background: url("./image/prev-page.png") no-repeat;
  left: 0;
}
.main .next {
  background: url("./image/next-page.png") no-repeat;
  right: 0;
}
.main .contents {
  display: flex;
  flex-flow: column wrap;
}
.main h1 {
  position: relative;
  font-family: montserrat;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 0 0 70px;
  margin: 0;
  letter-spacing: 1px;
}
.main h1:after {
  content: "";
  background-color: #16c1f3;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 55px;
  height: 2px;
}
.main h2 {
  font-weight: 800;
  font-size: 3rem;
  padding: 30px 0;
}
.main p {
  font-size: 20px;
  line-height: 38px;
  width: 530px;;
  text-overflow: clip;
  /* flex-basis: 530px; */
}
.main a.more {
  width: 110px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  border: solid white 1px;
  padding: 20px 20px 22px 30px;
  /* position: absolute; */
  /* bottom: 40%; */
  margin-top: 20px;
  font-weight: 700;
}
.main .arrow {
  padding: 0 0 0 15px;
  margin: 0;
}
.main .arrow::before {
  content: "\2794";
  font-size: 13px;
}
.main .page {
  position: absolute;
  bottom: 30px;
  left: 47%;
  font-size: 30px;
  font-family: "Montserrat";
}
.main .present-page {
  color: #16c1f3;
}

.top .slider {
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}
.top .slider .slide {
  width: 100%;
  height: 710px;
  top: 0;
  z-index: -2;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.top .slide img {
  width: 100%;
  height: 710px;
}
.top .slider .showing {
  z-index: -1;
  opacity: 1;
}


/* goal part ver2 */

section.goal {
  margin: 20px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* justify-items랑 차이는? */
}
section.goal div {
  position: relative;
  width: 280px;
  height: 240px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  
}
section.goal div img {
  display: block;
  margin-top: 30px;

}
section.goal div .num {
  position: absolute;
  font-size: 130px;
  font-family: "Merriweather";
  color: #f6f6f6;
  z-index: -1;
  top: 0;
}
section.goal div .num-kor {
  display: block;
  font-size: 19px;
  font-weight: 700;

}
section.goal div p {
  font-weight: 400;
  line-height: 27px;
  font-size: 15px;
}


/* mng-philo part */


.mng-philo {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.mng-philo div {
  width: 520px;
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 40px;
  text-align: justify;
}
.mng-philo h2:after {
  content: "";
  background-color: #16c1f3;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 55px;
  height: 2px;
}
.mng-philo h2 {
  position: relative;
  padding: 0 0 0 15%;
  font-size: 12px;
}
.mng-philo .p1 {
  font-size: 25px;
  font-weight: 800;
  line-height: 1.2em;
}
.mng-philo .p2 {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
}
.mng-philo img {
  height: 40vw;
  margin: 100px 40px;
}
.mng-philo a {
  text-decoration: none;
  color: #02438b;
  font-size: 13px;
  border: solid #02438b 1px;
  padding: 20px 20px 22px 30px;
  width: 120px;
  bottom: 25%;
  font-weight: 700;
}
.mng-philo .arrow {
  padding: 0 0 0 15px;
}
.mng-philo .arrow::before {
  content: "\2794";
  font-size: 13px;
}


/* footer part */


footer {
  background-color: #081a3f;
  font-size: 14px;
  color: white;
  font-family: "Nanum Gothic";
  display: flex;
  align-items: center;
}
footer .logo {
  width: 300px;
  height: 70px;
  font-size: 0;
  margin:30px 25% 30px 100px;
}
footer .logo img {
  width: 300px;
  height: 70px;
  /* margin: 40px 10% 0 10%; */
}
footer .contents {
  padding: 20px 50px;
  right: 20px;
  font-weight: 400;
  line-height: 26px;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
}
footer .right {
  font-size: 11px;
  color: #aaaaaa;
}

/* 반응형 구현 */

@media (max-width: 1300px) {
  .top {
    background-size: 1300px 710px;
    background-position: center;
  }
}

@media (max-width: 1100px) {
  header .big-header {
    display: none;
  }
  header .small-header {
    display: block;
  }
  .mng-philo img {
    width: 440px;
    height: 440px;
  }
}
@media (max-width: 1160px){
  .mng-philo img {
    margin: 3.44% 50px 5% 50px;
  }
  footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  footer .logo {
    margin: 30px 25% 30px 25%;;
  }
}
@media (min-width: 1101px) and (max-width: 1270px) {
  header .small-nav {
    display: none;
  }
}
@media (max-width: 970px){
  .main {
    padding-left: 76.35px;
  }
}
@media  (max-width: 700px){
  .main .contents p {
    width: 80%;
  }
  .mng-philo img {
    width: 62.85%;
    height: 62.85%;
  }
}